Repository web3go-xyz/din-mainnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/typescript-reviewers, @ethereum-optimism/contract-reviewers, @ethereum-optimism/legacy-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

Port drippie contracts to triple slash natspec styling
  packages/contracts-bedrock/contracts/periphery/drippie/Drippie.sol
  packages/contracts-bedrock/contracts/periphery/drippie/IDripCheck.sol
  packages/contracts-bedrock/contracts/periphery/drippie/dripchecks/CheckBalanceHigh.sol
  packages/contracts-bedrock/contracts/periphery/drippie/dripchecks/CheckBalanceLow.sol
  packages/contracts-bedrock/contracts/periphery/drippie/dripchecks/CheckGelatoLow.sol
  packages/contracts-bedrock/contracts/periphery/drippie/dripchecks/CheckTrue.sol
Owners: @ethereum-optimism/contract-reviewers

Port op-nft periphery contract to triple slash natspec styling
  packages/contracts-bedrock/contracts/periphery/op-nft/AttestationStation.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/Optimist.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/OptimistAllowlist.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/OptimistInviter.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/libraries/OptimistConstants.sol
Owners: @ethereum-optimism/contract-reviewers

Port faucet periphery contracts to triple slash natspec styling
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/periphery/faucet/Faucet.sol
  packages/contracts-bedrock/contracts/periphery/faucet/authmodules/AdminFaucetAuthModule.sol
  packages/contracts-bedrock/contracts/periphery/faucet/authmodules/IFaucetAuthModule.sol
Owners: @ethereum-optimism/contract-reviewers

feat(chain-mon): Set SDK to bedrock true
  packages/chain-mon/src/wd-mon/service.ts
Owners: @ethereum-optimism/devxpod

op-challenger: Improve logging (#6394)
  op-challenger/challenger.go
  op-challenger/fault/agent.go
  op-challenger/fault/caller.go
  op-challenger/fault/caller_test.go
  op-challenger/fault/loader.go
  op-challenger/fault/loader_test.go
  op-challenger/fault/responder.go
  op-challenger/fault/solver.go
  op-challenger/fault/types.go
  op-service/txmgr/txmgr.go
Owners: @ethereum-optimism/go-reviewers

op-challenger: Extract game monitor loop from Main method and add tests
  op-challenger/challenger.go
  op-challenger/fault/agent.go
  op-challenger/fault/caller.go
  op-challenger/fault/caller_test.go
  op-challenger/fault/monitor.go
  op-challenger/fault/monitor_test.go
  op-node/testlog/capturing.go
Owners: @ethereum-optimism/go-reviewers

Small agent touchup following Adrian's pr.
  op-challenger/fault/agent.go
Owners: none

Port all remaining test files to triple slash natspec styling.
  packages/contracts-bedrock/contracts/test/AddressAliasHelper.t.sol
  packages/contracts-bedrock/contracts/test/AdminFaucetAuthModule.t.sol
  packages/contracts-bedrock/contracts/test/AssetReceiver.t.sol
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/Bytes.t.sol
  packages/contracts-bedrock/contracts/test/CheckBalanceHigh.t.sol
  packages/contracts-bedrock/contracts/test/CheckBalanceLow.t.sol
  packages/contracts-bedrock/contracts/test/CheckGelatoLow.t.sol
  packages/contracts-bedrock/contracts/test/CheckTrue.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Drippie.t.sol
  packages/contracts-bedrock/contracts/test/Faucet.t.sol
  packages/contracts-bedrock/contracts/test/Helpers.sol
  packages/contracts-bedrock/contracts/test/Optimist.t.sol
  packages/contracts-bedrock/contracts/test/OptimistAllowlist.t.sol
  packages/contracts-bedrock/contracts/test/OptimistInviter.t.sol
  packages/contracts-bedrock/contracts/test/RLP.t.sol
  packages/contracts-bedrock/contracts/test/Transactor.t.sol
  packages/contracts-bedrock/contracts/test/invariants/AddressAliasHelper.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Burn.Eth.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Burn.Gas.t.sol
  packages/contracts-bedrock/contracts/test/invariants/CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/invariants/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/invariants/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/invariants/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/invariants/SafeCall.t.sol
  packages/contracts-bedrock/contracts/test/invariants/SystemConfig.t.sol
  packages/contracts-bedrock/invariant-docs/AddressAliasHelper.md
  packages/contracts-bedrock/invariant-docs/Burn.Eth.md
  packages/contracts-bedrock/invariant-docs/Burn.Gas.md
  packages/contracts-bedrock/invariant-docs/CrossDomainMessenger.md
  packages/contracts-bedrock/invariant-docs/Encoding.md
  packages/contracts-bedrock/invariant-docs/Hashing.md
  packages/contracts-bedrock/invariant-docs/L2OutputOracle.md
  packages/contracts-bedrock/invariant-docs/OptimismPortal.md
  packages/contracts-bedrock/invariant-docs/ResourceMetering.md
  packages/contracts-bedrock/invariant-docs/SafeCall.md
  packages/contracts-bedrock/scripts/invariant-doc-gen.ts
Owners: @ethereum-optimism/contract-reviewers

Bump patch versions for styling changes.
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/periphery/op-nft/AttestationStation.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/Optimist.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/OptimistAllowlist.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/OptimistInviter.sol
  packages/contracts-bedrock/contracts/test/Optimist.t.sol
  packages/contracts-bedrock/contracts/test/OptimistAllowlist.t.sol
  packages/contracts-bedrock/contracts/test/OptimistInviter.t.sol
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Legacy codebases
/packages/common-ts             @ethereum-optimism/typescript-reviewers
/packages/contracts             @ethereum-optimism/contract-reviewers
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/core-utils            @ethereum-optimism/legacy-reviewers
/packages/chain-mon             @ethereum-optimism/devxpod
/packages/replica-healthcheck   @ethereum-optimism/legacy-reviewers
/packages/sdk                   @ethereum-optimism/devxpod
/packages/atst                  @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @trianglesphere
/op-proposer    @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers


# Ops
/.circleci    @ethereum-optimism/infra-reviewers
/.github      @ethereum-optimism/infra-reviewers
/ops          @ethereum-optimism/infra-reviewers
/op-signer    @ethereum-optimism/infra-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/indexer          @ethereum-optimism/devxpod
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers
/endpoint-monitor @ethereum-optimism/infra-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json 
/*/package.json 

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
